.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.bdr-radius-1 {
    border-radius: 1em;
}

.bdr-radius-2 {
    border-radius: 2em;
}

.bdr-radius-3 {
    border-radius: 3em;
}