.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.bdr-radius-1 {
    border-radius: 1em;
}

.bdr-radius-2 {
    border-radius: 2em;
}

.bdr-radius-3 {
    border-radius: 3em;
}

.btn-custom__file {
    font-size: .7em;
    background: linear-gradient(45deg rgb(136, 146, 145) rgb(0, 129, 116));
}

.wrap-normal {
    word-wrap: normal;
}

.no-wrap {
    flex-wrap: nowrap;
}