body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt1 {
  margin-top: 1rem;
}

.form__net {
  display: flex;
  border-bottom: 1px solid #000;
  align-content: center;
  width: 80vw;
}

.form__net>div {

  border-radius: .3rem;
}

.w100 {
  width: 100%;
}

.p0 {
  padding: 0;
}