body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form__net {
  display: flex;
  border-bottom: 1px solid #000;
  align-content: center;
  width: 80vw;
  padding-right: 1rem;
}

.form__list {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.form__net>div {

  border-radius: .3rem;
}

.w100 {
  width: 100%;
}

.p0 {
  padding: 0;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}


.mt1 {
  margin-top: 1rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  align-content: space-around;
  flex-direction: row;
  align-items: center;
  word-wrap: normal;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
  gap: .3em;
}

.reset-btn {
  width: 6rem;
  font-size: 4rem;

  cursor: pointer;
}



.reset-btn:hover::after {
  display: block;
  position: absolute;
  content: "Очистить список";
  font-size: 2rem;
  margin-left: 5rem;
  top: 7rem;
}

.todos__list {
  display: flex;
  flex-flow: column nowrap;
  gap: .4rem;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  flex-grow: 4;

}

.todos__card {
  font-size: large;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}

.todos__card div {
  flex-shrink: 2;

  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.todos__card.done {
  background-color: rgba(76, 0, 130, 0.397);
  color: #fff;


}

.done {
  font-weight: 100;
  text-decoration: line-through;
}

.todos__card i {
  font-size: 1.7rem;
}